### Логистическая регрессия

In [1]:
import pandas as pd
import numpy as np

from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split

#### Titanic

In [2]:
data = pd.read_csv('./train.csv')
data.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

Установим в качестве индекса PassengerId

In [3]:
data.set_index('PassengerId',inplace=True)

In [4]:
data.head()

,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
PassengerId,,,,,,,,,,,
1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [5]:
data.columns

Index(['Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp', 'Parch', 'Ticket',
       'Fare', 'Cabin', 'Embarked'],
      dtype='object')

In [6]:
target= 'Survived'

In [7]:
y = data[target]

In [8]:
X= data.drop(target,axis=1)

Изучение качества и очистки данных

In [9]:
X.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 891 entries, 1 to 891
Data columns (total 10 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Pclass    891 non-null    int64
 1   Name      891 non-null    object
 2   Sex       891 non-null    object
 3   Age       714 non-null    float64
 4   SibSp     891 non-null    int64
 5   Parch     891 non-null    int64
 6   Ticket    891 non-null    object
 7   Fare      891 non-null    float64
 8   Cabin     204 non-null    object
 9   Embarked  889 non-null    object
dtypes: float64(2), int64(3), object(5)
memory usage: 76.6+ KB

In [10]:
X = X.drop(['Cabin','Name','Ticket'], axis=1)

In [11]:
mean_age = X['Age'].mean()
mean_age

29.69911764705882

In [13]:
X['Age'] = X['Age'].fillna(mean_age)

In [15]:
X['Age'].unique()

array([22.        , 38.        , 26.        , 35.        , 29.69911765,
       54.        ,  2.        , 27.        , 14.        ,  4.        ,
       58.        , 20.        , 39.        , 55.        , 31.        ,
       34.        , 15.        , 28.        ,  8.        , 19.        ,
       40.        , 66.        , 42.        , 21.        , 18.        ,
        3.        ,  7.        , 49.        , 29.        , 65.        ,
       28.5       ,  5.        , 11.        , 45.        , 17.        ,
       32.        , 16.        , 25.        ,  0.83      , 30.        ,
       33.        , 23.        , 24.        , 46.        , 59.        ,
       71.        , 37.        , 47.        , 14.5       , 70.5       ,
       32.5       , 12.        ,  9.        , 36.5       , 51.        ,
       55.5       , 40.5       , 44.        ,  1.        , 61.        ,
       56.        , 50.        , 36.        , 45.5       , 20.5       ,
       62.        , 41.        , 52.        , 63.        , 23.5       ,
        0.92      , 43.        , 60.        , 10.        , 64.        ,
       13.        , 48.        ,  0.75      , 53.        , 57.        ,
       80.        , 70.        , 24.5       ,  6.        ,  0.67      ,
       30.5       ,  0.42      , 34.5       , 74.        ])

In [16]:
X['Embarked'].value_counts()

S    644
C    168
Q     77
Name: Embarked, dtype: int64

In [20]:
embarked_mode = X['Embarked'].mode()[0]
embarked_mode

'S'

In [21]:
X['Embarked'] = X['Embarked'].fillna(embarked_mode )

In [22]:
X.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 891 entries, 1 to 891
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Pclass    891 non-null    int64
 1   Sex       891 non-null    object
 2   Age       891 non-null    float64
 3   SibSp     891 non-null    int64
 4   Parch     891 non-null    int64
 5   Fare      891 non-null    float64
 6   Embarked  891 non-null    object
dtypes: float64(2), int64(3), object(2)
memory usage: 55.7+ KB

#### Работа с категориальными переменнами

#### Sex

In [24]:
X['Sex'].value_counts()

male      577
female    314
Name: Sex, dtype: int64

In [26]:
X['Sex']=(X['Sex']=='female').astype(int)

In [28]:
X['Sex'].value_counts()

0    577
1    314
Name: Sex, dtype: int64

#### Embarked

In [30]:
X = pd.get_dummies(X)
X.head()

,Pclass,Sex,Age,SibSp,Parch,Fare,Embarked_C,Embarked_Q,Embarked_S
PassengerId,,,,,,,,,
1,3,0,22.0,1,0,7.2500,0,0,1
2,1,1,38.0,1,0,71.2833,1,0,0
3,3,1,26.0,0,0,7.9250,0,0,1
4,1,1,35.0,1,0,53.1000,0,0,1
5,3,0,35.0,0,0,8.0500,0,0,1

In [31]:
X.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 891 entries, 1 to 891
Data columns (total 9 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Pclass      891 non-null    int64
 1   Sex         891 non-null    int64
 2   Age         891 non-null    float64
 3   SibSp       891 non-null    int64
 4   Parch       891 non-null    int64
 5   Fare        891 non-null    float64
 6   Embarked_C  891 non-null    uint8
 7   Embarked_Q  891 non-null    uint8
 8   Embarked_S  891 non-null    uint8
dtypes: float64(2), int64(4), uint8(3)
memory usage: 51.3 KB

#### Pclass

In [32]:
X['Pclass'].unique()

array([3, 1, 2])

In [33]:
X['Pclass'] = X['Pclass'].astype('category')

In [35]:
X = pd.get_dummies(X)

In [36]:
X.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 891 entries, 1 to 891
Data columns (total 11 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Sex         891 non-null    int64
 1   Age         891 non-null    float64
 2   SibSp       891 non-null    int64
 3   Parch       891 non-null    int64
 4   Fare        891 non-null    float64
 5   Embarked_C  891 non-null    uint8
 6   Embarked_Q  891 non-null    uint8
 7   Embarked_S  891 non-null    uint8
 8   Pclass_1    891 non-null    uint8
 9   Pclass_2    891 non-null    uint8
 10  Pclass_3    891 non-null    uint8
dtypes: float64(2), int64(3), uint8(6)
memory usage: 47.0 KB

### Разбиение данных на тренировачные, валидационные и тестовые датасеты

In [38]:
X_train,X_valid,y_train,y_valid=train_test_split(X,y,test_size=0.25,random_state=42)

### Построение модели

In [39]:
lr = LogisticRegression()

In [40]:
lr.fit(X_train,y_train)

LogisticRegression()

In [41]:
y_pred=lr.predict(X_valid)

In [42]:
y_pred

array([0, 0, 0, 1, 1, 1, 1, 0, 1, 1, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0,
       1, 0, 0, 0, 0, 0, 0, 1, 0, 1, 1, 1, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0,
       1, 0, 0, 0, 0, 0, 1, 1, 0, 1, 0, 1, 0, 1, 1, 1, 0, 1, 1, 0, 0, 1,
       0, 0, 0, 1, 1, 1, 1, 1, 0, 0, 1, 1, 1, 0, 0, 1, 1, 0, 0, 0, 1, 1,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0,
       1, 0, 1, 0, 1, 0, 0, 0, 1, 0, 0, 1, 1, 0, 0, 0, 1, 1, 1, 0, 1, 0,
       0, 1, 0, 1, 1, 0, 0, 1, 0, 1, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 1,
       0, 0, 0, 1, 1, 1, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 1, 1, 0, 1, 0, 0,
       0, 1, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 1, 1, 0,
       1, 0, 0, 1, 1, 0, 0, 1, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 1, 0, 1, 0,
       0, 1, 0])

In [61]:
df_error = pd.DataFrame({'y_valid':y_valid.values,
             
             'y_pred':y_pred}, columns=['y_valid','y_pred'])
df_error

     y_valid  y_pred
0          1       0
1          0       0
2          0       0
3          1       1
4          1       1
..       ...     ...
218        1       1
219        0       0
220        0       0
221        0       1
222        0       0

[223 rows x 2 columns]

#### Метрика Accuracy

In [62]:
from sklearn.metrics import accuracy_score

In [63]:
accuracy_score(y_valid,y_pred)

0.8026905829596412

In [64]:
y_pred_train = lr.predict(X_train)

In [65]:
accuracy_score(y_train,y_pred_train)

0.8083832335329342

#### Вычисление вероятностей событий

In [66]:
y_proba = lr.predict_proba(X_valid)
y_proba

array([[0.88803846, 0.11196154],
       [0.7306994 , 0.2693006 ],
       [0.87015652, 0.12984348],
       [0.08991938, 0.91008062],
       [0.25062017, 0.74937983],
       [0.07826309, 0.92173691],
       [0.3344696 , 0.6655304 ],
       [0.90522441, 0.09477559],
       [0.24542478, 0.75457522],
       [0.10340604, 0.89659396],
       [0.69433675, 0.30566325],
       [0.93487211, 0.06512789],
       [0.62484704, 0.37515296],
       [0.8476136 , 0.1523864 ],
       [0.75859307, 0.24140693],
       [0.07898048, 0.92101952],
       [0.72748704, 0.27251296],
       [0.33438492, 0.66561508],
       [0.70247546, 0.29752454],
       [0.70651162, 0.29348838],
       [0.88386345, 0.11613655],
       [0.6428651 , 0.3571349 ],
       [0.39821924, 0.60178076],
       [0.86944941, 0.13055059],
       [0.89833287, 0.10166713],
       [0.92821101, 0.07178899],
       [0.56597441, 0.43402559],
       [0.72832999, 0.27167001],
       [0.9144287 , 0.0855713 ],
       [0.42638413, 0.57361587],
       [0.86654163, 0.13345837],
       [0.35847563, 0.64152437],
       [0.48100123, 0.51899877],
       [0.41666522, 0.58333478],
       [0.86273768, 0.13726232],
       [0.86423029, 0.13576971],
       [0.58764898, 0.41235102],
       [0.3344696 , 0.6655304 ],
       [0.06807562, 0.93192438],
       [0.90119358, 0.09880642],
       [0.7125328 , 0.2874672 ],
       [0.92109508, 0.07890492],
       [0.90112761, 0.09887239],
       [0.86537366, 0.13462634],
       [0.43710555, 0.56289445],
       [0.91111171, 0.08888829],
       [0.86639576, 0.13360424],
       [0.87988996, 0.12011004],
       [0.88427981, 0.11572019],
       [0.66870932, 0.33129068],
       [0.26566215, 0.73433785],
       [0.21285964, 0.78714036],
       [0.96298625, 0.03701375],
       [0.48735375, 0.51264625],
       [0.95175075, 0.04824925],
       [0.07958272, 0.92041728],
       [0.73690368, 0.26309632],
       [0.05298536, 0.94701464],
       [0.18635006, 0.81364994],
       [0.26337583, 0.73662417],
       [0.87378273, 0.12621727],
       [0.11635229, 0.88364771],
       [0.18917576, 0.81082424],
       [0.61164069, 0.38835931],
       [0.86537366, 0.13462634],
       [0.32636266, 0.67363734],
       [0.59337755, 0.40662245],
       [0.89920763, 0.10079237],
       [0.84631693, 0.15368307],
       [0.13239033, 0.86760967],
       [0.20087243, 0.79912757],
       [0.03546013, 0.96453987],
       [0.45259654, 0.54740346],
       [0.10171141, 0.89828859],
       [0.88058406, 0.11941594],
       [0.93331822, 0.06668178],
       [0.34015583, 0.65984417],
       [0.06395438, 0.93604562],
       [0.20747898, 0.79252102],
       [0.55916001, 0.44083999],
       [0.94376431, 0.05623569],
       [0.16602724, 0.83397276],
       [0.08369348, 0.91630652],
       [0.86538065, 0.13461935],
       [0.68121591, 0.31878409],
       [0.75868292, 0.24131708],
       [0.06208462, 0.93791538],
       [0.06058706, 0.93941294],
       [0.69896977, 0.30103023],
       [0.90146944, 0.09853056],
       [0.85427488, 0.14572512],
       [0.55669103, 0.44330897],
       [0.80497861, 0.19502139],
       [0.8653853 , 0.1346147 ],
       [0.90119358, 0.09880642],
       [0.8963014 , 0.1036986 ],
       [0.76407471, 0.23592529],
       [0.93677954, 0.06322046],
       [0.19722724, 0.80277276],
       [0.89329275, 0.10670725],
       [0.82395197, 0.17604803],
       [0.91549329, 0.08450671],
       [0.04789296, 0.95210704],
       [0.92260518, 0.07739482],
       [0.90337108, 0.09662892],
       [0.91106958, 0.08893042],
       [0.26921515, 0.73078485],
       [0.71977461, 0.28022539],
       [0.90135834, 0.09864166],
       [0.56210141, 0.43789859],
       [0.12402672, 0.87597328],
       [0.87230194, 0.12769806],
       [0.06658405, 0.93341595],
       [0.657598  , 0.342402  ],
       [0.38071847, 0.61928153],
       [0.86911058, 0.13088942],
       [0.77149969, 0.22850031],
       [0.65435798, 0.34564202],
       [0.17912128, 0.82087872],
       [0.68890541, 0.31109459],
       [0.80330624, 0.19669376],
       [0.05893104, 0.94106896],
       [0.26468058, 0.73531942],
       [0.55653834, 0.44346166],
       [0.88739468, 0.11260532],
       [0.52803394, 0.47196606],
       [0.1852089 , 0.8147911 ],
       [0.3798876 , 0.6201124 ],
       [0.35157919, 0.64842081],
       [0.87363698, 0.12636302],
       [0.33433147, 0.66566853],
       [0.88803846, 0.11196154],
       [0.73248884, 0.26751116],
       [0.24146698, 0.75853302],
       [0.66282455, 0.33717545],
       [0.25370015, 0.74629985],
       [0.04698154, 0.95301846],
       [0.89925115, 0.10074885],
       [0.93105006, 0.06894994],
       [0.37932256, 0.62067744],
       [0.8734336 , 0.1265664 ],
       [0.27945521, 0.72054479],
       [0.70907109, 0.29092891],
       [0.7988608 , 0.2011392 ],
       [0.548589  , 0.451411  ],
       [0.23903702, 0.76096298],
       [0.7219998 , 0.2780002 ],
       [0.89185992, 0.10814008],
       [0.0513602 , 0.9486398 ],
       [0.93291126, 0.06708874],
       [0.84544379, 0.15455621],
       [0.88406052, 0.11593948],
       [0.86288221, 0.13711779],
       [0.37708863, 0.62291137],
       [0.90112761, 0.09887239],
       [0.90155473, 0.09844527],
       [0.87837437, 0.12162563],
       [0.3344295 , 0.6655705 ],
       [0.23124934, 0.76875066],
       [0.43800973, 0.56199027],
       [0.81899084, 0.18100916],
       [0.61092737, 0.38907263],
       [0.77561113, 0.22438887],
       [0.0686839 , 0.9313161 ],
       [0.86497682, 0.13502318],
       [0.73750194, 0.26249806],
       [0.67788506, 0.32211494],
       [0.12409849, 0.87590151],
       [0.87718188, 0.12281812],
       [0.91552115, 0.08447885],
       [0.42368888, 0.57631112],
       [0.15455021, 0.84544979],
       [0.65748984, 0.34251016],
       [0.24318348, 0.75681652],
       [0.85947021, 0.14052979],
       [0.84637507, 0.15362493],
       [0.6830505 , 0.3169495 ],
       [0.1197072 , 0.8802928 ],
       [0.31135893, 0.68864107],
       [0.7198526 , 0.2801474 ],
       [0.67525749, 0.32474251],
       [0.90750129, 0.09249871],
       [0.91357967, 0.08642033],
       [0.53306522, 0.46693478],
       [0.23858694, 0.76141306],
       [0.71853679, 0.28146321],
       [0.64782417, 0.35217583],
       [0.90119358, 0.09880642],
       [0.60066196, 0.39933804],
       [0.22914652, 0.77085348],
       [0.93909251, 0.06090749],
       [0.74138403, 0.25861597],
       [0.88856066, 0.11143934],
       [0.89849802, 0.10150198],
       [0.29246908, 0.70753092],
       [0.12249792, 0.87750208],
       [0.03535011, 0.96464989],
       [0.74676929, 0.25323071],
       [0.08453881, 0.91546119],
       [0.57230692, 0.42769308],
       [0.96131071, 0.03868929],
       [0.41768968, 0.58231032],
       [0.10789887, 0.89210113],
       [0.67072676, 0.32927324],
       [0.80192264, 0.19807736],
       [0.34551003, 0.65448997],
       [0.89850533, 0.10149467],
       [0.67775662, 0.32224338],
       [0.84180314, 0.15819686],
       [0.9455578 , 0.0544422 ],
       [0.31993079, 0.68006921],
       [0.90231506, 0.09768494],
       [0.08446967, 0.91553033],
       [0.86538765, 0.13461235],
       [0.62484704, 0.37515296],
       [0.90026337, 0.09973663],
       [0.19281431, 0.80718569],
       [0.64364589, 0.35635411],
       [0.15742688, 0.84257312],
       [0.90146944, 0.09853056],
       [0.90119358, 0.09880642],
       [0.14370257, 0.85629743],
       [0.89868835, 0.10131165]])

### Сохранение данных

In [67]:
X_train.to_pickle('X_train.pkl')
y_train.to_pickle('y_train.pkl')

X_valid.to_pickle('X_valid.pkl')
y_valid.to_pickle('y_valid.pkl')